{% load static %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active"></div>
        <div id="target" class="carousel-item"></div>
        <div class="carousel-item"></div>
    </div>
</div>




<h5 class="populer">Internships in popular cities</h5>




<div id="buttons">
  <div class="butFrame" onclick="window.location='#'">
    <div class="butText"><span>WORK FROM HOME</span></div>
    <img src="{% static 'intern/img/pop/abstract.jpeg' %}"></div>
  <div class="butFrame" onclick="window.location='#'">
    <div class="butText"><span>DELHI</span></div>
    <img src="{% static 'intern/img/pop/business.jpeg' %}"></div>
  <div class="butFrame" onclick="window.location='#'">
    <div class="butText"><span>BANGLORE</span></div>
    <img src="{% static 'intern/img/pop/sports.jpeg' %}"></div>
  <div class="butFrame" onclick="window.location='#'">
    <div class="butText"><span>MUMBAI</span></div>
    <img src="{% static 'intern/img/pop/transport.jpeg' %}"></div>
  <div class="butFrame" onclick="window.location='#'">
    <div class="butText"><span>HYDERABAD</span></div>
    <img src="{% static 'intern/img/pop/abstract.jpeg' %}"></div>
  <div class="butFrame" onclick="window.location='#'">
    <div class="butText"><span>CHENNAI</span></div>
    <img src="{% static 'intern/img/pop/business.jpeg' %}"></div>
  <div class="butFrame" onclick="window.location='#'">
    <div class="butText"><span>KOLKATA</span></div>
    <img src="{% static 'intern/img/pop/sports.jpeg' %}"></div>
  <div class="butFrame" onclick="window.location='#'">
    <div class="butText"><span>INTERNATIONAL</span></div>
    <img src="{% static 'intern/img/pop/transport.jpeg' %}"></div>
</div>

<h5 class="populer">Internships in popular categories</h5>

<div id="buttons">
    <div class="butFrame" onclick="window.location='#'">
      <div class="butText"><span>PART TIME</span></div>
      <img src="{% static 'intern/img/pop/abstract.jpeg' %}"></div>
    <div class="butFrame" onclick="window.location='#'">
      <div class="butText"><span>ENGINEERING</span></div>
      <img src="{% static 'intern/img/pop/business.jpeg' %}"></div>
    <div class="butFrame" onclick="window.location='#'">
      <div class="butText"><span>NGO</span></div>
      <img src="{% static 'intern/img/pop/sports.jpeg' %}"></div>
    <div class="butFrame" onclick="window.location='#'">
      <div class="butText"><span>MBA</span></div>
      <img src="{% static 'intern/img/pop/transport.jpeg' %}"></div>
    <div class="butFrame" onclick="window.location='#'">
      <div class="butText"><span>DESING</span></div>
      <img src="{% static 'intern/img/pop/abstract.jpeg' %}"></div>
    <div class="butFrame" onclick="window.location='#'">
      <div class="butText"><span>SCIENCE</span></div>
      <img src="{% static 'intern/img/pop/business.jpeg' %}"></div>
    <div class="butFrame" onclick="window.location='#'">
      <div class="butText"><span>MEDIA</span></div>
      <img src="{% static 'intern/img/pop/sports.jpeg' %}"></div>
    <div class="butFrame" onclick="window.location='#'">
      <div class="butText"><span>MUMANITIES</span></div>
      <img src="{% static 'intern/img/pop/transport.jpeg' %}"></div>
  </div>
  <div class="homepagebutton"><button class="btn btn-outline-info">view all internships</button></div>
  <div class="border-top my-3"></div>
<h3 class="populer">Internshala Trainings</h3>

<div class='container'>
<div class='cardmain justify-content-center'>
<div class="card">
  <img src="{% static 'intern/img/training/webdev101.jpg' %}" alt="Avatar" style="width:100%">
  <div class="containercard">
    <h6><b>Web Development</b></h6> 
    <p>ABuild an e-commerce website from scratech</p> 
  </div>
</div>
<div class="card">
  <img src="{% static 'intern/img/training/python.jpg' %}" alt="Avatar" style="width:100%">
  <div class="containercard">
    <h6><b>Python</b></h6> 
    <p>Build a fantasy cricket game using Python language</p> 
  </div>
</div>
<div class="card">
  <img src="{% static 'intern/img/training/marketing101.jpg' %}" alt="Avatar" style="width:100%">
  <div class="containercard">
    <h6><b>Digital Marketing</b></h6> 
    <p>Learn SEO, email marketing, web analytics and more</p> 
  </div>
</div>
<div class="card">
  <img src="{% static 'intern/img/training/hacking.jpg' %}" alt="Avatar" style="width:100%">
  <div class="containercard">
    <h6><b>Ethical Hacking</b></h6> 
    <p>Learn to hack and secue web applications</p> 
  </div>
</div>
</div>
<div class="homepagebutton"><button class="btn btn-outline-info">view all Trainings</button></div>

<div class="border-top my-3"></div>
</div>